* {
  font-family: Georgia, "Times New Roman";
}

p,
.card-icon {
  color: var(--our-blue);
  font-family: var(--second-font);
}

.card {
  width: 309px;
  height: 420px;
  background-color: var(--our-light-white);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--our-black);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 287.16px;
  /*center the photo*/
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  height: 205px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  color: var(--our-blue);
  font-weight: 700;
}

.card-content {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star-icon {
  color: var(--our-yellow);
  font-size: 20px;
  margin-top: 0.3rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
}

.card-info div {
  text-align: center;
}

.card-info p,
.location p {
  font-size: 12px;
}

.card-info .card-icon {
  width: 22px;
  height: 25px;
  font-size: 25px;
}

.location {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  gap: 0.5rem;
}

.location .card-icon {
  color: var(--our-yellow);
}

.dotted-line {
  border-top: 2px dashed var(--our-yellow);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.4rem;
}

.right-arrow {
  color: var(--our-white);
  background-color: var(--our-yellow);
  width: 34px;
  height: 18px;
  border-radius: 40px;
}
