.main {
  background-color: var(--our-light-white);
  height: 100vh;
}

.backgroundImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: var(--our-white);

  position: absolute;
  top: 220px;
  left: 50px;
}

.container {
  padding: 1.5rem 5rem;
}

.joinLabel {
  background-color: transparent;
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  right: 15px;
  top: 15px;
  color: green;
  padding: 0.6rem 0.6rem;
  border: 2px solid green;
  border-radius: 50%;
}

/* breif section  */

.breif {
  font-size: 1.6rem;
  color: var(--our-blue);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.description {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: var(--our-black);
}

/* place info */
.vLine {
  transform: rotate(90deg);
  margin: 0;
  width: 220px;
  height: 2px;
}

.info {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.gatheringBtns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.btnContainer > p {
  font-size: 1rem;
  color: var(--our-brown);
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.addIcon {
  color: var(--our-brown);
  font-size: 1.2rem;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.addIcon:hover {
  color: #7b8b59;
  transform: scale(1.2);
}

/* users section */
.usersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.usersHeader {
  font-size: 1.2rem;
  color: var(--our-brown);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: text-decoration 0.3s ease-in-out;
}

.usersContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 2rem 5rem;
  /* margin-left: 40px; */
}

/* Align first row to the right */
.usersContainer > :nth-child(even) {
  justify-content: flex-start; /* Align users to the right */
}

/* Align second row to the left */
.usersContainer > :nth-child(odd) {
  justify-content: flex-start; /* Align users to the left */
}

.user {
  display: flex;
  align-items: center;
  width: 45%;
}

.user > p {
  font-size: 1.5rem;
  color: var(--our-blue);
  cursor: pointer;
  transition: text-shadow 0.2s ease-in-out;
}

.user > p:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.user > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  border: 1px solid var(--our-blue);
}

.user > img:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.inviteUserContainer {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  color: var(--our-brown);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem;
}

/* SEARCH FOR USER */

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.searchInput {
  width: 80%;
  height: 50px;
  border-radius: 150px;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
  background-color: #f1f1f1;
  text-indent: 25px;
  margin: 0 20px;
}
.searchInput::placeholder {
  color: #8f8a8a;
  text-transform: uppercase;
  font-family: var(--second-font);
}
.searchInput:focus {
  border: 1px solid var(--our-blue);
}
.searchIcon {
  position: absolute;
  left: 30px;
  font-size: 30px;
  color: #8f8a8a;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border: 0;
  background-color: var(--our-green);
  color: var(--our-black);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  transform: scale(1.03);
}
