.giftImage {
  height: 205px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  object-fit: cover;
}

.mainContainer {
  width: 21rem;
  border-radius: 20px;
  height: 19rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.mainContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.giftDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.priceContainer {
  background-color: #e2e0e0;
  display: flex;
  flex-direction: row;
  column-gap: 0.2rem;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.priceContainer:hover {
  background-color: darkslategrey;
  color: white;
}
.priceText {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Inter";
  margin: 0;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  align-items: flex-end;
  width: 100%;
}
.giftTitle {
  font-family: "Inter";
  font-weight: 600;
  word-spacing: 4px;
  color: var(--our-black);
}
.giftPlace {
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--main-font);
  word-spacing: 1px;
}

.activationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.status {
  font-family: "Inter";
  font-size: 0.9rem;
}

.actionBtn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.actionBtn:hover {
  background-color: darkslategrey;
  color: white;
  transform: translateY(-2px);
}

.opIcons {
  position: absolute;
  top: 10px;
  right: 3px;
  cursor: pointer;
  font-size: 24px;
  z-index: 100;
  color: #007bff;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.opIcons:hover {
  background-color: #ff6b00;
  color: white;
  transform: scale(1.2);
}
