.hero {
  background: url("../assets/images/pexels-rachel-claire-4577718.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--our-white);
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  bottom: 2.5rem;
  left: 5%;
}
