.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 350px;
  background-color: var(--our-gray);
  height: 60px;
  width: 50%;
  border-radius: 50px;
}

.tab {
  padding: 0.5rem 0.4rem;
  cursor: pointer;
  background-color: var(--our-gray);
  color: var(--our-brown);
  border-radius: 50px;
  width: 50%;
}

.tab:hover {
  background-color: inherit;
}

.tab.active {
  background-color: var(--our-green);
}

.tabContent.hidden {
  display: none;
}
