.main {
  background-color: #fff8e8;
  height: 100%;
}

.backgroundImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bookmarkIcon {
  position: absolute;
  right: 30px;
  top: 10px;
  color: var(--our-white);
  font-size: 30px;
  font-weight: 800;
}

.title {
  color: #f7eed3;
  font-size: 2.5rem;
  font-weight: 800;
  position: absolute;
  top: 220px;
  left: 50px;
}

.container {
  padding: 3rem 10rem;
}

/* breif section  */
.breif {
  font-size: 2rem;
  color: #674636;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.breif > h3 {
  margin-bottom: 0.7rem;
}

/* place info */
.horizontalLine {
  margin: 0;
  color: #674636;
}

.info {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  gap: 3rem;
}

/*Reviews Section*/
.reviewSection {
  padding: 110px 15px;
}

.photoSection {
  padding: 70px 5px;
}

.reviewsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.reviewsHeader > h3 {
  font-size: 2rem;
  color: #674636;
  margin-bottom: 0.6rem;
}

.reviewsHeader > div > h5,
.btnLabel {
  font-size: 1rem;
  color: var(--our-brown);
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.reviewsHeader > div > h5::after,
.btnLabel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--our-brown);
  transition: width 0.3s ease-in-out;
}

.reviewsHeader > div > h5:hover::after,
.btnLabel:hover::after {
  width: 100%;
}

.placeBtns {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.btnContainer > p {
  font-size: 1rem;
  color: var(--our-brown);
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.addIcon {
  color: var(--our-brown);
  font-size: 1.2rem;
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.addIcon:hover {
  color: #7b8b59;
  transform: scale(1.2);
}

.visitLabel {
  background-color: transparent;
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  left: 30px;
  top: 30px;
  background-color: green;
  color: white;
  padding: 0.6rem 0.6rem;
  border: 2px solid green;
  border-radius: 50%;
}
