.main {
  background-color: var(--our-light-white);
  height: 100vh;
}

.backgroundImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: var(--our-white);
  position: absolute;
  top: 220px;
  left: 50px;
}

.container {
  padding: 0rem 1.5rem;
}

/* breif section  */

.breif {
  font-size: 1.6rem;
  color: var(--our-blue);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

/* place info */
.vLine {
  transform: rotate(90deg);
  margin: 0;
  width: 220px;
  height: 2px;
}

.info {
  display: flex;
  align-items: center;
}

.reviewCards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header {
  font-size: 1.6rem;
  color: var(--our-blue);
  text-align: center;
}
