.review{
  display: grid;
  grid-template-columns: 23% 75%;
  gap: 20px;
  padding: 20px 10px ;
  border-radius: 20px;
  background-color: var(--our-white);
  margin: 20px 0;
  transition: transform 0.6s;
}

.review:hover{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  border: 2px solid var(--our-yellow);
}

.info ,.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.text{
  align-items: start;
  padding: 0 10px ;
}

.img{
  width: 285px;
  height: 100%;
  border-radius: 20px;
  transition: all 0.6s;
}

.img:hover{
  transform: scale(1.07);
 
}

.p{
  font-size: 16px;
  color: #674636;
  line-height: 1.5;
}

/* {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
} */

