.background {
  background-image: url("../assets/images/photo-1539768942893-daf53e448371.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--our-white);
}

.form{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  height: 600px;
}
.input-wapper {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--our-brown);
  padding-bottom: 5px;
  gap: 10px;
}



input {
  padding: 5px;
  width: 80%;
  border: 0;
  background-color: transparent;
  transition: all 0.6s;
  color: white;
  margin-left: 10px;
  position: relative;
  align-self: center;

}
input::placeholder {
  color: white;
  font-weight: semi-bold;
  font-size: medium;
  background-color: transparent;

}


input::before{
  content: "";
  width: 2px;
  border-left: 2px solid red;
  display: inline-block;
  height: 20px;
  position: absolute;
}

.input-icon {
  position: absolute;
  left:-20px;
  color: white;
  pointer-events: none;
  font-size: 30px; 
  padding-right: 5px;
  border-right: 2px solid white;

}

.forget{
  color: white;
  text-decoration: none;
  font-size: medium;
  align-self:center;
  transition: all 0.3s;
  
}
.forget::after{
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--our-brown);
  display: block;
  transition: all 0.3s;
}

.forget:hover::after{
  width: 100%;
}

button {
  padding: 10px;
  width: 60%;
  border: 0;
  background-color: var(--our-brown);
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.6s;
}

button:hover {
  background-color: var(--our-blue);
  transform: translateY(-5px);
}
p>a{
  color: white;
  display: inline-block;
  margin: 0 3px ;
  font-size: medium;
  transition: all 0.3s;
  width: fit-content;
  cursor: pointer;
  

}
p > a::after{
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--our-yellow);
  display: block;
  transition: all 0.3s;

}
p>a:hover::after{
  width: 100%;
}









