.editIcon,
.deleteIcon,
.optionIcon {
  font-size: 40px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-right: 10px;
  cursor: pointer;
  /* transition: all 0.3s; */
}

.editIcon {
  color: yellow;
}

.deleteIcon {
  color: #e74c3c;
}

.optionIcon {
  color: #3498db;
}

.editIcon:hover,
.deleteIcon:hover,
.optionIcon:hover {
  color: var(--our-hover-blue);
  transform: translateY(-5px);
}
