.mainBazaar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 50px 30px;
  position: relative;
}

.giftContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 2rem;
}

@media (max-width: 1120px) {
  .giftContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .giftContainer {
    grid-template-columns: 1fr;
  }
}

.editIcon,
.deleteIcon,
.optionIcon,
.addIcon {
  font-size: 40px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-right: 10px;
  cursor: pointer;
}

.editIcon {
  color: yellow;
  background-color: white;
  padding: 2px 5px;
}

.editIcon:hover {
  color: black;
  background-color: yellow;
  transform: translateY(-5px);
}

.deleteIcon {
  color: #e74c3c;
  background-color: white;
  padding: 2px;
}

.deleteIcon:hover {
  color: white;
  background-color: #e74c3c;
  transform: translateY(-5px);
}

.optionIcon {
  color: #3498db;
  background-color: white;
  padding: 2px;
}

.optionIcon:hover {
  color: white;
  background-color: #3498db;
  transform: translateY(-5px);
}

.addIcon {
  color: #2ecc71;
  background-color: white;
  padding: 2px;
}

.addIcon:hover {
  color: white;
  background-color: #2ecc71;
  transform: translateY(-5px);
}
