.card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.details {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensures all children span the same height */
  gap: 10px;
}

.detailItem {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.detailColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  gap: 15px;
}

.description {
  font-style: italic;
  color: #666;
  border-left: 3px solid #007bff;
  padding-left: 10px;
  flex: 1;
  overflow-y: auto;
  max-height: 250px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #0056b3;
}
