
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Noto+Sans+Georgian:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}
body{
  --our-blue:#0C3E69;
  --our-black:#283037;
  --our-brown:#674636;
  --our-yellow:#E9932E;
  --our-green:#AAB396;
  --our-white:#F7EED3;
  --main-font:"Luxurious Roman", serif !important;
  --second-font:"Noto Sans Georgian", sans-serif !important;
  font-family: var(--main-font);
}
/* Default (Mobile-first) */
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Small devices (Tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

/* Medium devices (Desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

/* Large devices (Large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

/* Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
      width: 1320px;
  }
}

/* Ultra large devices (1600px and up) */
@media (min-width: 1600px) {
  .container {
      width: 1470px;
  }
}




/* screen */

input:focus, textarea:focus{
  outline: none;
}
ul {
  list-style-type: none;
}
/*  */
a{
  text-decoration: none;
}
