@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Noto+Sans+Georgian:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  --our-blue: #0c3e69; /* Main blue */
  --our-black: #283037; /* Dark shade */
  --our-brown: #674636; /* Accent brown */
  --our-yellow: #e9932e; /* Bright yellow accent */
  --our-green: #aab396; /* Background green */
  --our-white: #fff8e8; /* Form background */
  --our-dark-sand: #c29d78;
  --our-light-sand: #ebd1b5;
  --our-hover-blue: #145a99; /* Hover effect for buttons */
  --our-light-gray: #e4d7c5; /* Light border color */
  --main-font: "Luxurious Roman", serif !important;
  --second-font: "Noto Sans Georgian", sans-serif !important;
  --main-transition: all 0.6s;
  font-family: var(--main-font);
}
/* Default (Mobile-first) */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Small devices (Tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium devices (Desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large devices (Large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* Ultra large devices (1600px and up) */
@media (min-width: 1600px) {
  .container {
    width: 1470px;
  }
}

/* screen */

input:focus,
textarea:focus {
  outline: none;
}
ul {
  list-style-type: none;
}
/*  */
a {
  text-decoration: none;
}
.swiper-button-prev,
.swiper-button-next {
  color: black !important; /* Changes the arrow color to black */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: gray !important; /* Optional: Changes the arrow color on hover */
}
